:root{
    --white: #FFFFFF;
    --brown: #BCA8A1;
    --pastel_blue: #8A90AA;
    --lightBlue: #54719B;
    --blue: #2B3A61;
    --purple: #3D314A;
    --darkBlue: #1A1423;
    --darkBlue: #040323;
}

@font-face {
    font-family: "roboto";
    src: url(../assets/font/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "quicksand";
    src: url(../assets/font/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
}

/*media queries*/
/*header*/
.introduction{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/chapitre_01_etoile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.introScroll{
    position: relative;
    left: 40%;
    right: 35%;
    top: 60%;
    color: var(--white);
    font-family: "roboto";
}

.paragraphe{
    font-family: "roboto";
    font-size: 1.5vh;
    color: var(--pastel_blue);
    transform: translateY(10vw) translateX(18vw);
    text-align: justify;
    width: 55vw;
}


body{
    overflow:scroll;
}


/*footer*/
.credits{
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: "roboto";
    font-size: 11px;
    color: var(--white);
    text-align: center;
    background-color: #3D314A;
    font-family: "roboto";
    font-size: 1.5vh;
    color: var(--pastel_blue);
}

/*font*/
h1{
    color: var(--pastel_blue);
    position: absolute;
    left: 15%;
    right: 15%;
    font-size: 3.5vw;
    font-family: "quicksand";
}

/*spritesheet - perso*/
.animationmarche{
    position: relative;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/img_personnages/spritesheet/marche_spritesheet/marche.png);
    animation-name: marche;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
    animation-play-state: paused;
}

@keyframes marche{
    from {background-position: 0 0;}
    to {background-position: 0 -2000px;}
}

body.is-scrolling .animationmarche {
    animation-play-state: running;
}

/*animation villain*/
.animationVillain{
    position: relative;
    width: 600px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/img_personnages/spritesheet/meteorite_spritesheet/spritesheet.png);
    animation-name: villain;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
    animation-play-state: paused;
}

@keyframes villain{
    from {background-position: 0 0;}
    to {background-position: -237600px 0;}
}

body.is-scrolling .animationVillain {
    animation-play-state: running;
}

/*chapitre*/
.chapitre{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 1px red solid;
}

/*-------------------------------------------chapitre 1------------------------------------------------*/
.cadreLit{
    position: absolute;
    width: 50vw;
    bottom: -7vh;
    left: 24vw;
    z-index: -1;
}

.couverture{
    position: absolute;
    width: 50vw;
    bottom: -13vh;
    left: 30.5vw;
}

.lit_complet{
    position: absolute;
    width: 50vw;
    bottom: -10vh;
    left: 25vw;
}

.lune{
    position: absolute;
    width: 20vw;
}

.dort{
    position: absolute;
    width: 25vw;
    bottom: 5vh;
    left: 33vw;
    z-index: 1;
}
#chap1{
    background-image: url(../img/img_arriere_plan/chapitre_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#texteChap1{
    position: absolute;
    margin-left: 20vw;
    margin-right: 20vw;
    left: 5vw;
}

/*-------------------------------------------chapitre 2------------------------------------------------*/

#chap2{
    position: relative;
    background-image: url(../img/img_arriere_plan/chapitre_02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lit_complet{
    position: absolute;
    width: 50vw;
    bottom: -10vh;
    left: 25vw;
}

.assisLit{
    position: absolute;
    width: 25vw;
    bottom: 10vh;
    left: 37vw;
    z-index: 1;
}

.star{
    position: absolute;
    width: 10vw;
    left: 70vw;
    bottom: 60vh;
}
/*-------------------------------------------chapitre 3------------------------------------------------*/

#chap3{
    background-image: url(../img/img_arriere_plan/chapitre_03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.debout{
    position: absolute;
    width: 20vw;
    bottom: 0;
    left: 10vw;
}

.star_avance{
    position: absolute;
    width: 10vw;
    left: 2vw;
    bottom: 30vh;
}



/*-------------------------------------------chapitre 4------------------------------------------------*/
.tombe{
    position: absolute;
    width: 20vw;
    left: 45vw;
}

.star_lead{
    position: absolute;
    width: 10vw;
    left: 70vw;
    bottom: 30vh;
}

#chap4{
    background-image: url(../img/img_arriere_plan/chapitre_04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roche{
    position: absolute;
    left: 40vw;
    bottom: -5vh;
    width: 20vw;
}

.atterir{
    position: absolute;
    width: 20vw;
    left: 41vw;
    bottom: 20vh;
}

/*-------------------------------------------chapitre 5------------------------------------------------*/

#chap5{
    background-image: url(../img/img_arriere_plan/chapitre_04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.star_tombe{
    position: absolute;
    width: 10vw;
    left: 25vw;
    bottom: 30vh;
}

.marche{
    position: absolute;
    width: 20vw;
    bottom: 0;
    left: 35vw;
}

.roche_marche{
    position: absolute;
    left: 50vw;
    bottom: -5vh;
    width: 20vw;
}

.villain{
    position: absolute;
    width: 20vw;
    left: 65vw;
    bottom: 30vh;
}

/*-------------------------------------------chapitre 6------------------------------------------------*/

#chap6{
    background-image: url(../img/img_arriere_plan/chapitre_06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.peurDebut{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0;
}

.peurMiddle{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0;
}

.peurFin{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0;
}

.star_peur{
    position: absolute;
    width: 10vw;
    left: 70vw;
    bottom: 30vh;
}

.villain_peur{
    position: absolute;
    width: 20vw;
    left: 25vw;
    bottom: 30vh;
}

/*-------------------------------------------chapitre 7------------------------------------------------*/

#chap7{
    background-image: url(../img/img_arriere_plan/chapitre_07.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.joieDebut{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0vh;
}

.joieFin{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0vh; 
}
/*-------------------------------------------chapitre 8------------------------------------------------*/

#chap8{
    background-image: url(../img/img_arriere_plan/chapitre_08.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#texteChap8{
    position: absolute;
    margin-left: 20vw;
    margin-right: 20vw;
}

/*---------------------------------histoire texte-------------------------------------------------------*/
.histoire{
    position: absolute;
    color: var(--pastel_blue);
    font-size: 1.5vw;
    font-family: roboto;
    margin-left: 10vw;
    margin-right: 10vw;
    top: 5vh;
    text-align: justify;
}