/*style généraux*/

ul.technique-gsap{
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: inline-block;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li{
    margin: 5px 0;
}

:root{
    --white: #FFFFFF;
    --brown: #BCA8A1;
    --pastel_blue: #8A90AA;
    --lightBlue: #54719B;
    --blue: #2B3A61;
    --purple: #3D314A;
    --darkBlue: #1A1423;
    --darkBlue: #040323;
}

@font-face {
    font-family: "roboto";
    src: url(../assets/font/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "quicksand";
    src: url(../assets/font/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
}

/*header*/
.introduction{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/chapitre_01_etoile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.introScroll{
    position: relative;
    left: 40%;
    right: 35%;
    top: 60%;
    color: var(--white);
    font-family: "roboto";
}

.paragraphe{
    font-family: "roboto";
    font-size: 1.5vh;
    color: var(--pastel_blue);
    transform: translateY(10vw) translateX(18vw);
    text-align: justify;
    width: 55vw;
}


body{
    overflow: scroll;
}


/*footer*/
.credits{
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: "roboto";
    font-size: 11px;
    color: var(--white);
    text-align: center;
    background-color: #3D314A;
    font-family: "roboto";
    font-size: 1.5vh;
    color: var(--pastel_blue);
}

/*font*/
h1{
    color: var(--pastel_blue);
    position: absolute;
    left: 15%;
    right: 15%;
    font-size: 3.5vw;
    font-family: "quicksand";
}

/*spritesheet - marche Polaris*/
.animationmarche{
    position: absolute;
    bottom: -10vh;
    left: 15vw;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/img_personnages/spritesheet/marche_spritesheet/marche.png);
    animation-name: marche;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
    animation-play-state: paused;
    z-index: 1;
    transform: scale(0.5);
    border: green 3px solid;
}

@keyframes marche{
    from {background-position: 0 0;}
    to {background-position: 0 -2000px;}
}

body.is-scrolling .animationmarche {
    animation-play-state: running;
}

/*chapitre*/
.chapitre{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 1px red solid;
}

.poisson{
    position: absolute;
    bottom: 0;
    width: 20vw;
    z-index: -1;
    left: 80vw;
    bottom: 5vh;
}

.chien{
    position: absolute;
    width: 20vw;
    z-index: -1;
    bottom: 30vh;
    left: 70vw;
    transform: rotate(10deg);
}

.draco{
    position: absolute;
    width: 20vw;
    z-index: -1;
    bottom: 0;
    left: 60vw;

}

.orion{
    position: absolute;
    width: 15vw;
    z-index: -1;
    bottom: 25vh;
    left: 50vw;
}

.perseus{
    position: absolute;
    width: 15vw;
    z-index: -1;
    bottom: 10vh;
    left: 15vw;

}

.major{
    position: absolute;
    width: 15vw;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.constellation{
    opacity: 0;
    border: green 3px solid;
}

.constellation_inverse{
    opacity: 0;
    border: green 3px solid;
}
/*-------------------------------------------chapitre 1------------------------------------------------*/
.cadreLit{
    position: absolute;
    width: 50vw;
    bottom: -7vh;
    left: 24vw;
    z-index: -1;
    border: blue 3px solid;
}

.couverture{
    position: absolute;
    width: 50vw;
    bottom: -13vh;
    left: 30.5vw;
    border: blue 3px solid;
}

.lit_complet{
    position: absolute;
    width: 50vw;
    bottom: -10vh;
    left: 25vw;
    border: blue 3px solid;
}

.lune{
    position: absolute;
    width: 20vw;
}

.dort{
    position: absolute;
    width: 25vw;
    bottom: 5vh;
    left: 33vw;
    z-index: 1;
    border: blue 3px solid;
}
#chap1{
    background-image: url(../img/img_arriere_plan/chapitre_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#texteChap1{
    position: absolute;
    margin-left: 20vw;
    margin-right: 20vw;
    left: 5vw;
}

/*-------------------------------------------chapitre 2------------------------------------------------*/

#chap2{
    position: relative;
    background-image: url(../img/img_arriere_plan/chapitre_02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lit_complet{
    position: absolute;
    width: 50vw;
    bottom: -10vh;
    left: 25vw;
}

.assisLit{
    position: absolute;
    width: 25vw;
    bottom: 10vh;
    left: 37vw;
    z-index: 1;
    border: green 3px solid;
}

.star_chap2{
    position: absolute;
    width: 10vw;
    left: 70vw;
    bottom: 60vh;
    border: green 3px solid;
}
/*-------------------------------------------chapitre 3------------------------------------------------*/

#chap3{
    background-image: url(../img/img_arriere_plan/chapitre_03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.debout{
    position: absolute;
    width: 20vw;
    bottom: 0;
    left: 10vw;
    border: green 3px solid;
}

.star_avance{
    position: absolute;
    width: 10vw;
    left: 25vw;
    bottom: 30vh;
    border: green 3px solid;
}

.lit_complet_chap3{
    position: absolute;
    width: 50vw;
    bottom: -10vh;
    left: 25vw;
    border: green 3px solid;
}


/*-------------------------------------------chapitre 4------------------------------------------------*/
.tombe{
    position: absolute;
    width: 20vw;
    left: 45vw;
    top: 0;
    z-index: 1;
    border: green 3px solid;
}

.star_lead{
    position: absolute;
    width: 10vw;
    left: 70vw;
    top: 0;
    border: green 3px solid;
}

#chap4{
    background-image: url(../img/img_arriere_plan/chapitre_04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roche{
    position: absolute;
    left: 40vw;
    bottom: -5vh;
    width: 20vw;
}

.atterir{
    position: absolute;
    width: 20vw;
    left: 41vw;
    bottom: 20vh;
    opacity: 0;
}

/*-------------------------------------------chapitre 5------------------------------------------------*/

#chap5{
    background-image: url(../img/img_arriere_plan/chapitre_04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.star_pyupyu{
    position: absolute;
    width: 10vw;
    left: 53vw;
    bottom: 30vh;
    border: green 3px solid;
}

.roche_marche{
    position: absolute;
    left: 75vw;
    bottom: -5vh;
    width: 20vw;
}

.villain_appear{
    position: absolute;
    width: 20vw;
    left: 5vw;
    bottom: 30vh;
    opacity: 0;
    border: green 3px solid;
}

.animationmarche_chap5{
    position: absolute;
    bottom: 0;
    left: 60vw;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/img_personnages/spritesheet/marche_spritesheet/marche.png);
    animation-name: marcheChap5;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
    animation-play-state: paused;
    z-index: 1;
    border: green 3px solid;
}

@keyframes marcheChap5{
    from {background-position: 0 0;}
    to {background-position: 0 -2000px;}
}

body.is-scrolling .animationmarche_chap5 {
    animation-play-state: running;
}

/*-------------------------------------------chapitre 6------------------------------------------------*/

#chap6{
    background-image: url(../img/img_arriere_plan/chapitre_06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.peurDebut{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0;
    opacity: 1;
    border: green 3px solid;
}

.peurMiddle{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0;
    opacity: 0;
    border: green 3px solid;

}

.peurFin{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0;
    opacity: 0;
    border: green 3px solid;

}

.star_peur{
    position: absolute;
    width: 10vw;
    left: 70vw;
    bottom: 30vh;
    border: green 3px solid;
}
/*
.villain_peur{
    position: absolute;
    width: 20vw;
    left: 25vw;
    bottom: 30vh;
}
*/

h2{
    font-size: 3vw;
    color: var(--white);
    font-family: quicksand;
}

.mot_audace{
    position: absolute;
    top: 20vh;
    left: 45vw;
    transform: rotate(-20deg);
    opacity: 0;
    border: green 3px solid;
}

.mot_courage{
    position: absolute;
    top: 15vh;
    left: 65vw;
    transform: rotate(20deg);
    opacity: 0;
    border: green 3px solid;
}

.mot_determination{
    position: absolute;
    top: 30vh;
    left: 45vw;
    transform: rotate(-10deg);
    opacity: 0;
    border: green 3px solid;
}

/*animation villain*/
.animationVillain{
    position: absolute;
    top: 20vh;
    left: 10vw;
    width: 600px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/img_personnages/spritesheet/meteorite_spritesheet/spritesheet.png);
    animation-name: villain;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
    animation-play-state: paused;
    transform: scale(1.5);
    border: green 3px solid;
}

@keyframes villain{
    from {background-position: 0 0;}
    to {background-position: -237600px 0;}
}

body.is-scrolling .animationVillain {
    animation-play-state: running;
}

/*-------------------------------------------chapitre 7------------------------------------------------*/

#chap7{
    background-image: url(../img/img_arriere_plan/chapitre_07.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.joieDebut{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0vh;
    opacity: 0;
    border: green 3px solid;
}

.joieFin{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0vh; 
    opacity: 0;
    border: green 3px solid;
}

.star_ours{
    position: absolute;
    width: 10vw;
    left: 70vw;
    bottom: 30vh;
    border: green 3px solid;
}

.grand_ours{
    position: absolute;
    width: 15vw;
    left: 70vw;
    bottom: 35vh;
    opacity: 0;
    border: green 3px solid;
}

.choque{
    position: absolute;
    width: 20vw;
    left: 55vw;
    bottom: 0;
    opacity: 0;
    border: green 3px solid;
}

/*-------------------------------------------chapitre 8------------------------------------------------*/

#chap8{
    background-image: url(../img/img_arriere_plan/chapitre_08.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#texteChap8{
    position: absolute;
    margin-left: 20vw;
    margin-right: 20vw;
}

.assisLit_reveille{
    position: absolute;
    width: 25vw;
    bottom: 10vh;
    left: 37vw;
    z-index: 1;
    opacity: 0;
    border: green 3px solid;
}

.dort_reveille{
    position: absolute;
    width: 25vw;
    bottom: 5vh;
    left: 33vw;
    z-index: 1;
    border: green 3px solid;
}

/*---------------------------------histoire texte-------------------------------------------------------*/
.histoire{
    position: absolute;
    color: var(--pastel_blue);
    font-size: 1.5vw;
    font-family: roboto;
    margin-left: 10vw;
    margin-right: 10vw;
    top: 5vh;
    text-align: justify;
}

/*-------------------------------------------------------respnsive_media_queries---------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1000px ){
    .cadreLit{
        bottom: 2vh;
    }
    
    .couverture{
        bottom: -2vh;
    }
    
    .lit_complet{
        bottom: 0;
    }

    .dort{
        position: absolute;
        width: 25vw;
        bottom: 8vh;
        left: 33vw;
        z-index: 1;
    }

    .lit_complet_chap3{
        position: absolute;
        width: 50vw;
        bottom: -5vh;
        left: 25vw;
    }

    .roche{
        position: absolute;
        left: 40vw;
        bottom: 7vh;
        width: 20vw;
    }

    .animationmarche_chap5{
        position: absolute;
        bottom: -8vh;
        left: 50vw;
        transform: scale(0.6);
    }

    .dort_reveille{
        bottom: 8vh;
    }
}

@media screen and (max-width: 500px ){
    .cadreLit{
        bottom: 2vh;
    }
    
    .couverture{
        bottom: -2vh;
    }
    
    .lit_complet{
        bottom: 0;
    }

    .dort{
        position: absolute;
        width: 25vw;
        bottom: 6vh;
        left: 33vw;
        z-index: 1;
    }

    .lit_complet_chap3{
        position: absolute;
        width: 50vw;
        bottom: -5vh;
        left: 25vw;
    }

    .animationmarche{
        position: absolute;
        bottom: -15vh;
        left: -9vw;
        transform: scale(0.4);
    }

    .roche{
        position: absolute;
        left: 40vw;
        bottom: 12vh;
        width: 20vw;
    }

    .roche_marche{
        position: absolute;
        left: 75vw;
        bottom: 0vh;

    }

    .assisLit{
        bottom: 7vh;
    }

    .animationmarche_chap5{
        position: absolute;
        bottom: -15vh;
        left: 25vw;
        transform: scale(0.4);
    }

    .dort_reveille{
        bottom: 5vh;
    }

    .assisLit_reveille{
        bottom: 6vh;
    }

    .animationVillain{
        transform: scale(0.6);
        left: -20vw;
    }

    .mot_audace{
        top: 80vh;
    }
    
    .mot_courage{
        top: 80vh;
    }
    
    .mot_determination{
        top: 75vh;
    }
}